<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<p class="lead mb-3"> <%= user.email %></p>
<p class="lead mb-3"> <%= user.password %></p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>

<a href="testpage1"> GO To page1</a>